<section>
  <ol class="ipsList_reset cForumList" data-baseurl="">
  <!-- BEGIN catrow -->
	<!-- BEGIN tablehead -->
                  <li data-categoryid="{catrow.tablehead.ID}" class="cForumRow ipsBox ipsSpacer_bottom ipsResponsive_pull">
                    <h2 class="ipsType_sectionTitle ipsType_reset cForumTitle">
                      	<a href="{catrow.tablehead.ID}">{catrow.tablehead.L_FORUM}</a>
                        <a href="#" class="ipsPos_right ipsJS_show ipsType_noUnderline cForumToggle" onclick="app.toggleCategory('{catrow.tablehead.ID}'); return false;" data-action="toggleCategory" data-ipstooltip="" title="Toggle this category"></a>
                    </h2>
                    
                    <ol class="ipsDataList ipsDataList_large ipsDataList_zebra" data-role="forums">
                <!-- END tablehead -->
                <!-- BEGIN forumrow -->
		<li class="cForumRow ipsDataItem ipsDataItem_responsivePhoto ipsClearfix" data-forumid="{catrow.forumrow.FORUM_ID}">
                  <div class="ipsDataItem_icon ipsDataItem_category">
                    <span class="ipsItemStatus ipsItemStatus_large cForumIcon_normal ipsItemStatus_read">
                      <i class="fa fa-comments"></i>
                    </span>
                  </div>
                  
                  <div class="ipsDataItem_main">
                    <h4 class="ipsDataItem_title ipsType_break">
                      <a href="{catrow.forumrow.U_VIEWFORUM}">{catrow.forumrow.FORUM_NAME}</a>
                      <div class="ipsType_richText ipsDataItem_meta ipsContained" data-controller="core.front.core.lightboxedImages">
                        {catrow.forumrow.FORUM_DESC}
                      </div>
                    </h4>
                  </div>
                  
                  <div class="ipsDataItem_stats ipsDataItem_statsLarge">
                    <dl>
                      <dt class="ipsDataItem_stats_number">{catrow.forumrow.POSTS}</dt>
                      <dd class="ipsDataItem_stats_type ipsType_light"> post</dd>
                    </dl>
                  </div>
                  
                  <ul class="ipsDataItem_lastPoster ipsDataItem_withPhoto">
                    <li>
                      <!-- BEGIN avatar -->
                      <a href="#" rel="nofollow" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to Admin's profile">
                        {catrow.forumrow.avatar.LAST_POST_AVATAR}
                      </a>
                      <!-- END avatar -->
                    </li>
                    <li class="ipsDataItem_lastPoster__title">
                        <!-- BEGIN switch_topic_title -->
                        <a href="{catrow.forumrow.U_LATEST_TOPIC}" title="{catrow.forumrow.LATEST_TOPIC_TITLE}">{catrow.forumrow.LATEST_TOPIC_NAME}</a>
                        <!-- END switch_topic_title -->
                    </li>
                    <li class="ipsType_light ipsType_blendLinks">
			{catrow.forumrow.USER_LAST_POST}
                    </li>
                 </ul>
                <script type="text/javascript">
                    //<![CDATA[
                        window.app.setRowsData('{catrow.forumrow.POSTS}');
                    //]]>
                </script>
          </li>
    <!-- END forumrow -->
    <!-- BEGIN tablefoot -->
    </ol>
</li>
    <!-- END tablefoot -->
    <!-- END catrow -->
    </ol>
</section>

<!-- BEGIN switch_forum_images -->
<div class="borderwrap">
	<div class="maintitle floated">
		<h3>{switch_forum_images.TITLE}</h3>
	</div>
	<div class="container-imgs-list" style="max-height: 500px" id="imageList">
        {switch_forum_images.SCRIPTS}
	</div>
</div>
<!-- END switch_forum_images -->
