<!-- BEGIN html_validation -->
<div>
	<div>
		<div>
			<div>
				<div>
					<div>
						<div>
<!-- END html_validation -->
						</div>
					</div>
				</div>
			</div>
			<div id="{ID_RIGHT}">
				<!-- BEGIN giefmod_index2 -->
				{giefmod_index2.MODVAR}
				<!-- BEGIN saut -->
				<div style="height:{SPACE_ROW}px"></div>
				<!-- END saut -->
				<!-- END giefmod_index2 -->
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
{FOOTER_WIDGETS}
<footer id="ipsLayout_footer" class="ipsClearfix">
  <div class="ipsLayout_container">
    <ul class="ipsList_inline ipsType_center ipsSpacer_top" id="elFooterLinks">
      <!-- BEGIN html_validation -->
<!-- END html_validation -->
